
.content {
    width: 1000px;
    margin: auto;
    margin-top: 80px;
    margin-left: 50px;
    margin-bottom: 100px;
}
h1{
    margin-left: 10px;
    color: #033949;
    position: relative;
    bottom: 370px;
}

.image1 > img{
    display: none;
    width: 1100px;
    height: 300px;
    
}
.imago > img{
    display: inline-block;
    width: 1300px;
    height: 300px;
}
.nav{
    position: relative;
    bottom: 380px;
    left:270px;
    z-index: 2;
    
}

h2{
    background-color: #033949;
    color: white;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    bottom: 130px;
}
.subtitle > h2{
    position: relative;
    bottom: 350px;
}
.paragraphs {
    display: inline-block;
    margin-left: 250px;
    position: absolute;
    top: 480px;     
    
}

.enter{
    margin-bottom: 20px;


}

.space{
    margin-bottom: 20px;
}

.line{
    margin-bottom: 20px;
}
.logo > img{
    display: none;
    width: 125px;
    position: absolute;
    top: 500px;
    text-align: left; 
    
}
.logus > img{
    display: inline-block;
    width: 225px;
    position: absolute;
    top: 115px;
}
 

.box{
    display: inline-block;                
    margin-right: 15px;
    background-color: #033949;
    box-shadow: 2px 2px darkblue;
    font-size: 20px;
      
}

.box{
    display: inline-block;
    margin-right: 10px;
    background-color: #033949;
    box-shadow: 2px 2px darkblue;
    font-size: 20px;
    
    
}

.box{
    display: inline-block;
    background-color: #033949;
    box-shadow: 2px 2px darkblue;
    font-size: 20px;
}

.active{
    background-color: lightslategray;
}

a:focus{
    background-color: lightblue;
}
a:hover{
    background-color: lightslategray;
}

a {
    color: white;
    text-decoration: none;
}
.boy > img{
    display: inline-block;
    width: 200px;
    position: absolute;
    top: 450px;
}
.girls > img{
    display: none;
}
.boys > img{
    width: 300px;
    height: 200px;
}
h3{
    margin-left: 100px;
    font-size: 20px;
}
.mission{
    margin-left: 100px;
}
.vision{
    margin-left: 100px;
}
.gi{
    margin-left: 100px;
}
.events{
    display: inline-block;
    margin-left: 300px;
}
p a{
    color: blue;
}
h4{
    font-size: 18px;
    margin: 0px;
    margin-bottom: 2px;
    margin-top: 20px;
}
ul{
    width: 700px;
    padding-left: 10px;
    margin: 2px;
    list-style: square;
    margin-left: 20px;
}
ol{
    width: 700px;
    margin: 20px; 
    margin-top: 5px;
    margin-right: 20px;
}
.ordered > ol{
    list-style-type: circle;
    margin-left: 20px;
}
dd{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 300px;

}
.paragraphs p{
    font-size: 20px;
    text-align-last: left;
    margin-left: 150px;
}

thead{
    text-decoration: underline;
}
td{
    text-align: left;
    padding: 35px;
    padding-bottom: 2px;
    padding-top: 2px;
}

tr {
    text-align: center;
}
table{
    margin: 20px;
}
tfoot{
    padding: 20px;
}
article > p{
    padding: 10px;
}
td a{
    color: blue;
    text-decoration: underline;
}
em{
    text-decoration: underline;
}

.row{
    position: absolute;
    top: 1350px;  
}

.inline {
    display: inline-block;
    margin: 10px;

}
.row2{
    position: absolute;
    top: 1750px
}
.line2{
    display: inline-block;
    margin: 10px;
}
.bar{
    
  display: none;
}

fieldset{
    padding: 20px;
}
.name{
    margin-bottom: 10px;
}
.address{
    margin-bottom: 10px;
}
.birthday{
    margin-bottom: 10px;
}
.guardian{
    margin-bottom: 10px;
}
.School{
    margin-bottom: 20px;

}
.position{
    width: 178px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.wantplay{
    width: 178px;
    margin-bottom: 30px;
    margin-top: 10px;
}

legend{
    margin-top: 20px;
}
fieldset{
    margin-top: 20px;
    margin-right: 300px;
}
.uniformjersey{
    width: 350px;
    
}

.short{
    width: 350px;
    margin-bottom: 20px;
    position: absolute;
    left: 380px;
    bottom: 290px;
    
    
}
h6{
    font-size: 16px;
    display: inline-block;
    margin-bottom: 1px;
}
h7{
    margin-left: 280px;
    display: inline-block;
    font-size: 16px;
}

.play{
    text-decoration: underline;
    margin-top: 20px
}

.permission{
    margin-top: 20px;
    margin-right: 100px;
}

.submit{
    margin-top: 20px;
    margin-left: 800px;
    
} 