
.content {
    width: 1000px;
    margin: auto;
    margin-top: 80px;
    margin-left: 50px;
 
}
h1{
    margin-left: 10px;
    color: black;
    position: absolute;
    top: 20px;  
}

.image1 > img{
    width: 1100px;
    height: 300px;
    
}
.nav{
    position: relative;
    bottom: 320px;
    left:10px;
    z-index: 2;
    
}

h2{
    background-color: black;
    color: white;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    bottom: 50px;
}

.paragraphs {
    display: inline-block;
    margin-left: 200px;
    position: absolute;
    top: 480px;
    
}

.enter {
    margin-bottom: 20px

}

.space {
    margin-bottom: 20px;
}

.line{
    margin-bottom: 20px;
}
.logo > img {
    display: inline-block;
    width: 125px;
    position: absolute;
    top: 500px;
    text-align: left;  
}
.logus > img{
    display: none
}

.box{
    display: inline-block;
    margin-right: 15px;
    color: aqua;
    background-color: olivedrab;
    box-shadow: 3px 3px black;
    font-size: 18px;
    position: relative;
    left: 800px;
   
}
.box{
    display: inline-block;
    margin-right: 15px;
    background-color: olivedrab;
    box-shadow: 3px 3px black;
    font-size: 18px;
    
}

.box{
    display: inline-block;
    background-color: #033949;
    background-color: olivedrab;
    box-shadow: 3px 3px black;
    font-size: 18px;
}

.active{
    background-color: darkgoldenrod;
}

a focus{
    background-color: darkgoldenrod;
}
a hover{
    background-color: darkgoldenrod;
}
a{
    color: whitesmoke;
    text-decoration: none;
}
.events{
    display: inline-block;
    margin-left: 200px; 
    margin-top: 30px;
}
p a{
    color: darkblue;  
}
.boy > img{
    display: none;
}
span{
    display: none;
}

.girls{
    display: none;
}
.imago > img{
    display: none;
}
.boys > img{
    display: none;
}
